{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Link para o arquivo CSS específico desta tela -->
<link rel="stylesheet" href="{% static 'css/criarNovaOs.css' %}">
{% endblock %}

{% block content %}
<script>
  // --- SEGURANÇA E NAVEGAÇÃO ---
  history.pushState(null, null, location.href);
  window.onpopstate = function () { history.go(1); };
</script>

<div class="form-card">
  <form method="POST" class="row g-3">
    {% csrf_token %}

    <div class="col-12">
      <h2>Nova Ordem de Serviço</h2>
      <p>Cliente: <strong>{{ cliente.nome }}</strong></p>
    </div>

    <div class="col-12">
      <label>Veículo:</label>
      <select name="id_veiculo" id="id_veiculo" class="form-control" required>
        <option value="">Selecione um veículo...</option>
        {% for v in veiculos %}
        <option value="{{ v.id_veiculo }}">{{ v.placa }} - {{ v.modelo }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-12">
      <label>Mecânico Responsável:</label>
      <select name="id_funcionario" id="id_funcionario" class="form-control" required>
        <option value="">Selecione um funcionário...</option>
        {% for f in funcionarios %}
        <option value="{{ f.id_funcionario }}">{{ f.nome_completo }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-12">
      <div class="container-botoes">
        <a href="{% url 'gestao_clientes' %}" id="btn-voltar" class="btn-voltar">Voltar</a>
        <button type="submit" class="btn-salvar">Iniciar OS</button>
      </div>
    </div>
  </form>
</div>

<script src="{% static 'js/adicionarItens.js' %}"></script>
<script src="{% static 'js/bloqueioNavegacao.js' %}"></script>
{% endblock %}