{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-card">
        <form method="POST" class="login-form row g-3">
            {% csrf_token %}
            <h2>Login</h2>
            <p>Acesse o sistema de gestão.</p>

            <div class="col-12 form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="col-12 form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <div class="col-12">
                <button type="submit" class="btn-login">Entrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}